<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title slot="start">Video Details</ion-title>
  <ion-button slot="primary" (click)="deconnect()" *ngIf="isConnected; else notConnected">
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
       Se déconnecter
  </ion-button>
  <ng-template #notConnected slot="primary">
    <ion-button [routerLink]="['/', 'signin']" slot="primary">Se connecter</ion-button>
    <ion-button [routerLink]="['/', 'signup']" slot="primary">S'inscrire</ion-button>
  </ng-template>
</ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card *ngFor="let item of result">
  <ion-card-header>
    <ion-card-title>{{ item.titre }}</ion-card-title>
    <ion-card-subtitle>{{ item.type }} - {{ item.genre }}</ion-card-subtitle>
    <ion-card-subtitle>Date de publication : {{ item.date }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content text-center>
    <ion-img style="height: 100px; width: auto;
    margin: auto;
    display: block;" *ngIf="item.image" [src]="item.image"></ion-img>
    <br>
    {{ item.description }}
    <ion-item *ngIf="sameUser">
      <ion-button expand="full" color="danger" (click)="onDeleteVideo(item)" >
          <ion-icon name="close" slot="start"></ion-icon>
          Supprimer vidéo
      </ion-button>
      <ion-button expand="full" [routerLink]="['/', 'videos', 'edit', item.idVideo]">
          <ion-icon ios="ios-create" md="md-create" slot="start"></ion-icon>
          Editer vidéo
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
