<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title slot="start">Video Details</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card *ngFor="let item of result">
  <ion-card-header class="animated fadeInDown" 
                    style="
                      animation-delay: 0s;
                      animation-iteration-count: 1;
                    ">
    <ion-card-title>{{ item.titre }}</ion-card-title>
    <ion-card-subtitle>
        <ion-icon ios="ios-videocam" md="md-videocam"></ion-icon>
      {{ item.type }} - {{ item.genre }}
    </ion-card-subtitle>
    <ion-card-subtitle>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
      Date de publication : {{ item.date }}
    </ion-card-subtitle>
    <ion-card-subtitle id="link" button [routerLink]="['/', 'profile']" 
                      *ngFor="let element of userOfVideo">
      <ion-icon ios="ios-person" md="md-person"></ion-icon>
        Ajouté par : {{ element.pseudo }}
    </ion-card-subtitle>
    
  </ion-card-header>
  <ion-card-content text-center>
    <ion-img style="height: 300px; width: auto;
                    margin: auto;
                    animation-delay: 0s;
                    animation-iteration-count: 1;
                    display: block;" 
             *ngIf="item.image" 
             [src]="item.image"
             class="animated bounceIn"></ion-img>
    <br>
    <div class="animated fadeInDown" 
          style="animation-delay: 0s;
                 animation-iteration-count: 1;">
      {{ item.description }}
    </div>
    <ion-item *ngIf="sameUser">
      <ion-button expand="full" 
                  color="danger" 
                  (click)="onDeleteVideo(item)" 
                  class="animated wobble" 
                  style="
                    animation-delay: 1s;
                    animation-iteration-count: 2;
                  ">
          <ion-icon name="close" slot="start"></ion-icon>
          Supprimer vidéo
      </ion-button>
      <ion-button expand="full" 
                  [routerLink]="['/', 'videos', 'edit', item.idVideo]"
                  class="animated wobble" 
                  style="
                    animation-delay: 1s;
                    animation-iteration-count: 2;
                  ">
          <ion-icon ios="ios-create" md="md-create" slot="start"></ion-icon>
          Editer vidéo
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
