<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of result">
    <ion-card-header class="animated fadeInDown" 
                      style="
                        animation-delay: 0s;
                        animation-iteration-count: 1;
                      ">
      <ion-card-title>{{ item.pseudo }}</ion-card-title>
      <ion-card-subtitle>{{ item.mail }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <ion-img style="height: 300px; 
                      width: auto;
                      margin: auto;
                      animation-delay: 0s;
                      animation-iteration-count: 1;
                      display: block;" 
               *ngIf="item.image" 
               class="animated bounceIn" 
               [src]="item.image"></ion-img>
      <div class="animated fadeInDown" 
      style="animation-delay: 0s;
            animation-iteration-count: 1;">
        {{ item.description }}
      </div>
      <ion-button expand="full" 
                  class="animated wobble" 
                  style="
                    animation-delay: 1s;
                    animation-iteration-count: 2;"
                  [routerLink]="['/', 'profile', 'edit']">
        <ion-icon ios="ios-create" md="md-create" slot="start"></ion-icon>
        Editer profil
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
