<ion-header>
  <ion-toolbar>
    <ion-title>Video Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card *ngFor="let item of result">
    <ion-card-header>
      <ion-card-title>{{ item.titre }}</ion-card-title>
      <ion-card-subtitle>{{ item.type }} - {{ item.genre }}</ion-card-subtitle>
      <ion-card-subtitle>Date de publication : {{ item.date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <ion-img style="height: 100px; width: auto;
      margin: auto;
      display: block;" *ngIf="item.image" [src]="item.image"></ion-img>
      <br>
      {{ item.description }}

      <ion-button expand="full" color="danger" (click)="onDeleteVideo(item)" >
          <ion-icon name="close" slot="start"></ion-icon>
          Supprimer vidéo
      </ion-button>
      <ion-button expand="full" [routerLink]="['/', 'videos', 'edit', item.idVideo]">
          <ion-icon ios="ios-create" md="md-create" slot="start"></ion-icon>
          Editer vidéo
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
