<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/watchBlog.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Rejoignez-nous !</ion-card-subtitle>
        <ion-card-title>Bienvenue dans WatchBlog !</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ici, vous allez pouvoir partager les films et les séries que vous regardez !</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Pages</ion-label>
      </ion-list-header>
      <ion-item button [routerLink]="['/', 'profile']">
        <ion-icon slot="start" color="medium" ios="ios-contact" md="md-contact"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/', 'videos']">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Liste des vidéos</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/', 'new']">
        <ion-icon slot="start" color="medium" name="add"></ion-icon>
        <ion-label>Ajouter une vidéo</ion-label>
      </ion-item>
      <ion-item button [routerLink]="['/', 'users']">
        <ion-icon slot="start" color="medium" ios="ios-contacts" md="md-contacts"></ion-icon>
        <ion-label>Utilisateurs</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
