<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">Les vidéos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button *ngFor="let video of videos; let i = index" [routerLink]="['/', 'videos', video.idVideo]">
    <ion-card-header>
      <ion-card-title>{{ video.titre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ video.description }}        
    </ion-card-content>
  </ion-card>  
</ion-content>
